body {
	text-align: center;
	color: red;
	font-family: helvetica;
}

p {
	font-size: 22px;
}

img {
	margin: 40px 0px 0px 0px;
	border: 7px solid black;
	border-radius: 22px;
}

header {
      text-align: center;
      background: url('/images/code.jpg');
      background-size: cover;
      color: white;
}